
@font-face {
  font-family: 'playfair-display';
src:url(‘../fonts/playfairdisplay.eot’) format(‘truetype’),
url(‘../fonts/playfairdisplay-Regular-webfont.eot#iefix’) format(’embedded-opentype’),
url(‘../fonts/playfairdisplay-Regular-webfont.svg#displayfiar_display’) format(‘eot’);
font-weight:normal;
 font-style:normal;
}
@font-face {
  font-family: "inconsolata";
  src: url("/fonts/inconsolata-Regular-webfont.eot") format("truetype"),
  url(‘../fonts/playfairdisplay-Regular-webfont.eot#iefix’) format(’embedded-opentype’),

       url("/fonts/inconsolata-Regular-webfont.sgv#inconsolataregular") format("eot");
}
body{
  font-family: 'playfair-display';
  font-size: 14px;
  color:#626262;
}
.navbar-brand{
  font-family: 'inconsolata';
  text-transform: uppercase;
  font-size: 30px;

}
.navbar-default{
  background-color: #ffffff;
  border-color: : #ffffff;

}
.nav>li>a{
  padding: 10px 50px;

}
@media (min-width:1200px){
.container{
  width: 1062px;
}
}
.text{
  padding-top: 40px;
  margin-left: 10px;
}
.text1{
   padding-top: 20px;
  font-size: 30px;
  margin-left: 10px;
}
.text2{
  margin: 30px;
  font-size: 20px;
   padding-top: 25px;
  margin-left: 10px;
}
p{
  font-size: 20px;
  margin: 80px;
  margin-left: 10px;
}
#container-1{
  background:#ffffff;
}
#container-1 h2{
  padding:20px;
  text-align:center;
}
.input{
  padding:20px;
  text-align:center;
  display:flex;
}
input{
  margin-left:370px;
  width:30%;
  background:#fcfcfc;
  color:black;
  
  border: 0;
  border-bottom: 2px solid #ffffff;
  padding: 10px;
}
.btn-outline-dark{
font-size: 40px;
    padding-top:10px;
    margin-left: 400px;
    background-color: #ffffff;
    margin-top: 50px;

}

.col-6{
  margin: auto;
  margin-left: 200px;
  background-color:#ffffff;

}

footer{

  margin-top: 100px;
  background-color:#fcfcfc;
  text-align:center;
  padding:25px;
  font-size:18px;
}
footer .container-fluid{
  background:#fcfcfc;
}
footer .container-fluid .row{

  display:flex;
}
ul{

  display:flex;
}
ul li{
  list-style:none;
}
ul li a{
    text-decoration: none;
  margin:20px;
  width:50%;
 color: black;
}
